.block-4 {
  & .block-4__wrapper {
    @include block-wrapper();

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }
  }

  & .block-4__content {
    @include block-content();
    background: var(--grey-color);

    padding: 24px 15px;


    border-bottom: 2px solid #d6d6d6;

    & > .block-4__title {
      color: var(--black-color);
    }

    @media (min-width: $tablet-width) {
      border-bottom: 0;
      padding: 0 40px;
      margin: 42px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px;
      margin: 38px 0 62px 0;
    }
  }

  & .block-4__title {
    margin: -2px 0 0 0;

    @media (min-width: $tablet-width) {
      margin: 1px 0 0 -1px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 80px;
    }
  }

  & .block__desc:not(.block__number) {
    margin-right: 3px;

    @media (min-width: $tablet-width) {
      margin: 0 0 0 -4px;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
