.block-2 {
  & picture {
    width: 100%;
    position: relative;

    @media (min-width: $tablet-width) {
      grid-row-start: 1;
    }

    @media (max-width: 767px) {
      min-height: 256px;
      height: 260px;
    }
  }

  & picture img {
    object-fit: cover;
    height: 100%;
  }

  & .block-2__content {
    background: var(--blue-color);
    padding: 39px 15px 28px 15px;
    justify-content: center;

    @media (min-width: $tablet-width) {
      padding: 32px 30px 28px;
      min-height: 186px;
    }

    @media (min-width: $desktop-width) {
      padding: 50px 45px 28px;
      min-height: 178px;
    }
  }

  & .block-2__wrapper {
    @include block-wrapper();

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }

  & .block-2__title {
    @media (min-width: $tablet-width) {
      font-size: 21px;
    }

    &--white {
      margin: 1px 2px 0 0;
    }
  }

  & .block-2__desc {
    margin: 0 1px 6px 0;

    &--white {
      color: var(--white-color);
    }

    @media (min-width: $tablet-width) {
      margin: 5px 1px 6px 0;
    }

    @media (min-width: $desktop-width) {
      margin: 6px 40px 6px 40px;
    }
  }

  & .block-2__number {
    margin: 11px 2px 17px 0;

    &--white {
      color: var(--white-color);
    }

    @media (min-width: $tablet-width) {
      margin: 13px 2px 17px 0;
    }
  }
}
