.block--1 {
  & picture {
    width: 100%;
    position: relative;

    @media (max-width: 767px) {
      height: 260px;
    }
  }

  & picture img {
    object-fit: cover;
    height: 100%;
  }

  & .block__content {
    background: var(--blue-color);
    padding: 36px 15px 38px;

    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      padding: 40px 36px 40px;
      min-height: 176px;
    }

    @media (min-width: $desktop-width) {
      padding: 47px 66px 56px 66px;
      min-height: 153px;
    }

    & .desc {
      @media (min-width: $desktop-width) {
        padding: 0;
      }
    }
  }
}
