.catalog-page .preview__title {
  margin-bottom: 10px;
}

.catalog-page .preview__p {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }
}

.catalog-page .preview {
  margin-bottom: 36px;
  margin-top: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 81px;
    margin-top: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 99px;
    margin-bottom: 89px;
  }
}

.catalog-page .footer__body {
  padding-top: 29.5px;

  @media (min-width: $tablet-width) {
    padding-top: 38.5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 83.5px;
  }
}
