html {
  max-width: $desktop-width;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
}

button {
  cursor: pointer;
}

.index-page .main-content {
  counter-reset: desc-counter;
}

.index-page .title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0 10px;
  }


  &--item {
    text-align: left;
    padding: 8px;

    @media (min-width: $tablet-width) {
      padding-bottom: 21px;
    }
  }

  &--white {
    color: var(--white-color);

    @media (min-width: $desktop-width) {
      padding: 0 30px;
    }
  }
}

.container {
  padding: 0 18px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.title {
  @include title();

  &--index {
    margin: 0 0 35px 0;
    padding: 0;

    @media (min-width: $tablet-width) {
      margin: 0 0 30px;
    }
  }

  &--item {
    text-align: left;
    padding: 8px;

    @media (min-width: $tablet-width) {
      padding-bottom: 21px;
    }
  }
}

.desc {
  @include p();

  color: #333333;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin: 0;
  }

  &--white {
    color: var(--white-color);
  }
}

.desc__number {
  margin: 11px 0 17px 0;
  counter-increment: desc-counter;

  &::after {
    content: "—№" counter(desc-counter) "—";
  }

  @media (min-width: $tablet-width) {
    margin: 12px 0 24px 0;
  }
}

.item__desc {
  margin: 8px 0 0 8px;


  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
