html {
  max-width: $desktop-width;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px;
}


body {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 16px;
  margin: 0 auto;
  padding: 0;
  transition: 0.2s;
}

header {
  transition: 0.2s;
}

button {
  cursor: pointer;

  &:focus {
    outline: 2px solid #333333;
    border-radius: 2px;
  }
}
