.form-page {
  & .preview {
    margin-bottom: 28px;
  }

  & .preview__p {
    margin: 0;
  }

  & .preview__title {
    margin-bottom: 24px;
  }
}


.form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.6fr 0.6fr 1fr;
    grid-template-areas:
      "form-item-1 form-item-2"
      "form-item-3 form-item-3"
      "form-item-4 form-item-4"
      "form-item-5 form-item-5";
  }
}

.form__wrapper {
  border-top: 1px solid var(--button-disable);

  &--1 {
    grid-area: form-item-1;
  }

  &--2 {
    grid-area: form-item-2;
  }

  &--3 {
    grid-area: form-item-3;
  }

  &--4 {
    grid-area: form-item-4;
  }

  &--5 {
    grid-area: form-item-5;
  }

  @media (min-width: $tablet-width) {
    border-top: 0;

    &:first-child {
      border-right: 1px solid var(--button-disable);
    }
  }
}

.form__title {
  margin-top: 24px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.form__block-1 {
  @include form-blocks();

  & .input__wrapper:last-child {
    margin-bottom: 39px;
  }

  @media (min-width: $tablet-width) {
    padding-right: 44px;
  }
}

.form__block-2 {
  @include form-blocks();

  & .input__wrapper:last-child {
    margin-bottom: 34px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 44px;
  }
}

.form__block-3 {
  @include form-blocks();

  & .form__section {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 50px;
      border-top: 1px solid var(--button-disable);
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  & .form__title {
    @media (min-width: $tablet-width) {
      position: relative;
      top: 33px;

      background-color: var(--white-color);
      padding: 0 40px;
    }
  }
}

.form__block-4 {
  @include form-blocks();

  & .form__section {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 50px;
      border-top: 1px solid var(--button-disable);
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  & .form__title {
    @media (min-width: $tablet-width) {
      position: relative;
      top: 50px;

      background-color: var(--white-color);

      max-width: 300px;
      padding: 0 40px;
    }
  }
}

.form__block-5 {
  @include form-blocks();

  & .form__section {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr;
      padding-top: 50px;
      border-top: 1px solid var(--button-disable);
    }
  }

  & .form__title {
    @media (min-width: $tablet-width) {
      position: relative;
      top: 33px;

      background-color: var(--white-color);

      max-width: 300px;
      padding: 0 40px;
    }
  }

  & button.submit {
    @media (min-width: $tablet-width) {
      width: 324px;
    }
  }
}

.form__block-6 {
  @include form-blocks();
}

.form__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}

input,
textarea {
  height: 27px;
  padding: 16px;

  background: var(--input);
  border: 0;

  color: #000000;
  font-size: 18px;
  font-weight: 700;

  &:hover {
    background: var(--button-disable);
  }

  &:focus {
    background: var(--white-color);
    outline: 4px solid var(--input);
    outline-offset: -4px;

    & ~ .contacts-button {
      border: 4px solid var(--input);
      border-left: 0;
    }
  }

  &::placeholder {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;

    display: flex;
    align-items: center;

    color: rgb(#000000, 30%);

    mix-blend-mode: normal;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &[type="tel"],
  &[type="email"] {
    width: calc(100% - 86px);
  }

  &[type="textarea"] {
    min-height: 150px;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
      color: #00000030;
      vertical-align: top;
    }
  }
}

label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #333333;

  mix-blend-mode: normal;

  flex: none;
  order: 0;
  flex-grow: 0;

  margin-left: 16px;
}

.input__wrapper {
  margin: 16px 0;

  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 24px;
  }
}

.contacts-button {
  background: var(--contacts-button);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 59px;

  &:hover {
    background: #d5d5d5;
  }
}

.contacts-button__icon--tel {
  width: 18px;
  height: 18px;
}

.contacts-button__icon--mail {
  width: 18px;
  height: 16px;
}

.tel-input {
  display: flex;
  align-items: center;
}

.radio__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 16px;

  & label {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #000000;

    mix-blend-mode: normal;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    position: relative;
    margin: 0;

    &::before {
      content: "";
      display: block;
      width: 46px;
      height: 46px;
      background: #f2f2f2;
      border-radius: 50%;
      z-index: 1;
      margin-right: 16px;
    }

    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: #333333;
      border-radius: 16px;
      position: absolute;
      left: 15px;
      z-index: 2;

      opacity: 0;
    }

    &:hover::before {
      background: #e5e5e5;
    }
  }
}


.radio__wrapper input {
  display: none;
  position: absolute;


  &:checked + .answer::after {
    opacity: 1;
  }
}

.checkbox__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 16px;

  & label {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #000000;

    mix-blend-mode: normal;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    position: relative;
    margin: 0;

    &::before {
      content: "";
      display: block;
      width: 46px;
      height: 46px;
      background: #f2f2f2;
      border-radius: 4px;
      z-index: 1;
      margin-right: 16px;
    }

    &::after {
      content: url("../img/tick.svg");
      display: flex;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 15px;
      z-index: 2;

      opacity: 0;
    }

    &:hover::before {
      background: #e5e5e5;
    }
  }

  &:last-child {
    margin-bottom: 24px;
  }
}


.checkbox__wrapper input {
  display: none;
  position: absolute;

  &:checked + .answer::after {
    opacity: 1;
  }
}

.textarea-message {
  margin-bottom: 56px;
}

.textarea__wrapper {
  margin-bottom: 40px;

  & textarea {
    margin-bottom: 56px;

    @media (min-width: $tablet-width) {
      margin-bottom: 48px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
  }
}

.required-field {
  font-size: 14px;
  line-height: 21px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  text-transform: uppercase;

  color: rgba(51, 51, 51, 0.6);

  mix-blend-mode: normal;

  margin: 5px 0;
}

.button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
