.header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: center;

  min-height: 56px;

  background-color: var(--white-color);
  box-shadow: rgb(0 0 0 / 20%) 0 0 5px;

  z-index: 999999;
}

.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  & a {
    position: absolute;
    height: 100%;
  }
}
