.intro {
  & .desc {
    margin: 0;
    text-align: center;
  }
}

.intro__slider {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 389px;

  background: url("../img/back-mobile.jpg");
  background-position: center;
  background-size: cover;
  mix-blend-mode: normal;

  @media (min-width: $tablet-width) {
    min-height: 518px;
    background: url("../img/back-desktop.jpg");
    background-position: center;
    background-size: cover;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/back-mobile@2x.jpg");
    background-position: center;
    background-size: cover;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background: url("../img/back-desktop@2x.jpg");
    background-position: center;
    background-size: cover;
  }

  @media (min-width: $tablet-width) and (min-resolution: 3dppx) {
    background: url("../img/back-desktop@3x.jpg");
    background-position: center;
    background-size: cover;
  }
}

.intro__slider-text {
  @media (min-width: $tablet-width) {
    min-width: 460px;
  }
}

.triangle {
  position: relative;
  display: flex;
  height: 35px;
  background: #ffffff;
  top: -34px;
  clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    height: 57px;
    background: #ffffff;
    top: -56px;
    clip-path: polygon(50% 100%, 95% 0%, 95% 50%, 100% 40%, 100% 100%, 100% 100%, 0 100%, 0 40%, 5% 50%, 5% 0);
  }

  @media (min-width: $desktop-width) {
    clip-path: polygon(50% 100%, 80% 0%, 80% 60%, 100% 5%, 100% 100%, 100% 100%, 0 100%, 0 5%, 20% 60%, 20% 0);
  }

  &--blue {
    background: var(--blue-color);
    height: 15px;
    top: 1px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.index-page .triangle {
  @media (min-width: $tablet-width) {
    margin-bottom: -9.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
  }
}


.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    max-width: 520px;
    margin: auto;
  }
}

.index-page .preview {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55.5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.preview__title {
  display: flex;
  align-items: center;

  color: #000000;

  margin-bottom: calc(30px / 2);
  margin-top: 0;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    // margin-top: 47px;
  }
}

.preview__p {
  display: flex;
  align-items: center;
  text-align: center;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  mix-blend-mode: normal;

  color: #333333;

  margin-top: calc(30px / 2);
}
