.block-1 {
  margin-top: -57px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.block-1__wrapper {
  @include block-wrapper();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 256px;
  }
}


.block-1__content {
  @include block-content();
  background: var(--blue-color);
  padding: 36px 15px 30px 15px;

  @media (min-width: $tablet-width) {
    padding: 35px 32px 42px 32px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 62px 42px 62px;
  }
}

.block-1__image {
  background: url("../img/photo-city@1x__mob.png");
  background-position: center;
  background-size: cover;
  height: 256px;

  @media (min-width: $tablet-width) {
    background: url("../img/photo-city@1x__pc.png");
    background-position: center;
    background-size: cover;
  }
}

.block-1__list {
  display: flex;
  flex-direction: column;

  padding-top: 27px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
}

.block-1__item:last-child .desc {
  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}


.block-2 {
  @media (min-width: $tablet-width) {
    margin-top: -12px;
  }
}

.block-2__wrapper {
  @include block-wrapper();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.block-2__content {
  @include block-content();

  background: var(--blue-color);

  padding: 40px 15px 25px 15px;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    padding: 43px 36px 41px 36px;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 66px 41px 66px;
  }

  & .desc {
    @media (min-width: $desktop-width) {
      padding: 0 20px;
    }
  }
}


.block-2__image {
  background: url("../img/photo-bridge@1x__mob.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 256px;

  @media (min-width: $tablet-width) {
    background: url("../img/photo-bridge@1x__pc.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row-start: 1;
  }
}

.block-3__wrapper,
.block-4__wrapper,
.block-5__wrapper {
  @include block-wrapper();

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}


.block-4__content {
  border-bottom: 2px solid #d6d6d6;
}

.block-3,
.block-4,
.block-5 {
  @media (min-width: $tablet-width) {
    display: flex;
  }

  & .title {
    @media (min-width: $desktop-width) {
      padding: 0 80px;
    }
  }
}

.block-group {
  background: var(--grey-color);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    height: 256px;
  }
}

.block-3__content,
.block-4__content,
.block-5__content {
  @include block-content();
  background: var(--grey-color);

  padding: 20px 15px;


  border-bottom: 2px solid #d6d6d6;

  & > .content__title,
  & > .content__p {
    color: var(--black-color);
  }

  @media (min-width: $tablet-width) {
    border-bottom: 0;
    padding: 0 40px;
    margin: 42px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
    margin: 40px 0 60px 0;
  }
}

.block-5__content {
  border-bottom: 0;
}

.content__title {
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--white-color);
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px;
  }
}

.content__p {
  @include p();

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);

  margin: 20px 0 25px 0;

  &:last-child {
    margin: 0;
  }
}


.item__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 0 12px;
    padding-top: 18px;
  }
}

.item__icon:last-child {
  margin-left: 4px;
}

.block-1__item,
.block-2__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 60px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 40px;
  }
}

.item__icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  & img {
    width: 100%;
  }

  &--house img {
    width: calc(100% - 1px);
  }

  &--gift img {
    width: calc(100% - 8px);
  }

  @media (min-width: $tablet-width) {
    @include icon(house, 75px, 75px);
    @include icon(burger, 76px, 75px);
    @include icon(gift, 64px, 75px);
  }
}

.preview__title--index,
.item__title--index {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
