.block {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.block__wrapper {
  @include block-wrapper();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 256px;
  }
}

.block__content {
  @include block-content();
}

.block__list {
  display: flex;
  flex-direction: column;
  margin: 25px 0 52px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 60px 0;
  }
}

.block-group {
  background: var(--grey-color);
  padding: 26px 18px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    height: 256px;
  }
}

.block__item:last-child .desc {
  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.content__title {
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--white-color);
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px;
  }
}

.content__p {
  @include p();

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);

  margin: 20px 0 25px 0;

  &:last-child {
    margin: 0;
  }
}


.item__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding: 0 12px;
    padding-top: 18px;
  }
}

.item__icon:last-child {
  margin-left: 4px;
}

.block__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  margin: 12.5px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}

.item__icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  & img {
    width: 100%;
  }

  &--house img {
    width: calc(100% - 1px);
  }

  &--gift img {
    width: calc(100% - 8px);
  }

  @media (min-width: $tablet-width) {
    @include icon(house, 75px, 75px);
    @include icon(burger, 76px, 75px);
    @include icon(gift, 64px, 75px);
  }
}

.preview__title--index,
.item__title--index {
  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}


.block--1 {
  & .block__content {
    background: var(--blue-color);
    padding: 33px 15px 40px 15px;

    @media (min-width: $tablet-width) {
      grid-column-start: 1;
      padding: 40px 36px 44px 36px;
    }

    @media (min-width: $desktop-width) {
      padding: 47px 66px 56px 66px;
    }

    & .desc {
      @media (min-width: $desktop-width) {
        padding: 0;
      }
    }
  }

  & .block__image {
    background: url("../img/photo-city@1x__mob.png");
    background-position: center;
    background-size: cover;
    height: 256px;

    @media (min-width: $tablet-width) {
      background: url("../img/photo-city@1x__pc.png");
      background-position: center;
      background-size: cover;
    }
  }
}

.block--2 {
  & .block__content {
    background: var(--blue-color);
    padding: 39px 15px 35px 15px;

    @media (min-width: $tablet-width) {
      padding: 43px 36px 41px 36px;
    }

    @media (min-width: $desktop-width) {
      padding: 51px 86px 53px 86px;
    }
  }

  & .block__wrapper {
    @include block-wrapper();

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }

  & .block__image {
    background: url("../img/photo-bridge@1x__mob.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 256px;

    @media (min-width: $tablet-width) {
      background: url("../img/photo-bridge@1x__pc.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      grid-row-start: 1;
    }
  }
}

.block--3 {
  & .block__content {
    @include block-content();
    background: var(--grey-color);

    padding: 0 15px 24px 15px;


    border-bottom: 2px solid #d6d6d6;

    & > .content__title,
    & > .content__p {
      color: var(--black-color);
    }

    @media (min-width: $tablet-width) {
      border-bottom: 0;
      padding: 0 40px;
      margin: 42px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px;
      margin: 43px 0 62px 0;
    }
  }

  & .block__wrapper {
    @include block-wrapper();

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  & .title {
    @media (min-width: $desktop-width) {
      padding: 0 80px;
    }
  }
}

.block--4 {
  & .block__wrapper {
    @include block-wrapper();

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }
  }

  & .block__content {
    @include block-content();
    background: var(--grey-color);

    padding: 24px 15px;


    border-bottom: 2px solid #d6d6d6;

    & > .content__title,
    & > .content__p {
      color: var(--black-color);
    }

    @media (min-width: $tablet-width) {
      border-bottom: 0;
      padding: 0 40px;
      margin: 42px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px;
      margin: 43px 0 62px 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  & .title {
    @media (min-width: $desktop-width) {
      padding: 0 80px;
    }
  }
}

.block--5 {
  & .block__content {
    @include block-content();
    background: var(--grey-color);

    padding: 24px 15px 0 15px;


    & > .content__title,
    & > .content__p {
      color: var(--black-color);
    }

    @media (min-width: $tablet-width) {
      border-bottom: 0;
      padding: 0 40px;
      margin: 42px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0 50px;
      margin: 43px 0 62px 0;
    }
  }

  & .block__wrapper {
    @include block-wrapper();

    @media (min-width: $tablet-width) {
      justify-content: flex-start;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
  }

  & .title {
    @media (min-width: $desktop-width) {
      padding: 0 80px;
    }
  }
}

