.menu {
  display: block;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "home catalog logo form htmlacademy";

    width: 100%;
  }
}

.menu__item {
  display: none;

  @include menu__item(home);
  @include menu__item(catalog);
  @include menu__item(form);
  @include menu__item(htmlacademy);

  &--home {
    margin: 2px 0 0 3px;
  }

  &--catalog {
    margin: 2px 0 0 2px;
  }

  &--form {
    margin: 2px 0 0 0;
  }

  &--htmlacademy {
    margin: 2px 1px 0 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;

    & .menu__link {
      font-family: "PT Sans", "Tahoma", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;


      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;

      mix-blend-mode: normal;
      text-decoration: none;

      color: var(--black-color);

      &--hover,
      &:hover {
        color: var(--button);
      }

      &--active,
      &:active {
        color: var(--black-color);
        opacity: 0.3;
      }

      &--current {
        color: var(--brown-color);
      }
    }
  }
}
