.form-page {
  & .preview {
    margin-bottom: 28px;
    margin-top: 36px;

    @media (min-width: $tablet-width) {
      margin-top: 64px;
      margin-bottom: 80px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 114px;
      margin-bottom: 45px;
    }
  }

  & .preview__p {
    margin: 0;
  }

  & .preview__title {
    margin-bottom: 24px;

    @media (min-width: $desktop-width) {
      margin-bottom: 33px;
      margin-right: 3px;
    }
  }
}


.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__wrapper {
  border-top: 1px solid var(--button-disable);

  &--1 {
    @media (min-width: $tablet-width) {
      width: 49.9%;
    }
  }

  &--2 {
    @media (min-width: $tablet-width) {
      width: 49.9%;
    }
  }

  &--3 {
    width: 100%;
    margin-bottom: 7px;

    @media (min-width: $desktop-width) {
      margin-bottom: 37px;
    }
  }

  &--4 {
    width: 100%;
    margin-bottom: -1px;

    @media (min-width: $desktop-width) {
      margin-bottom: 41px;
    }
  }

  &--5 {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    border-top: 0;

    &:first-child {
      border-right: 1px solid var(--button-disable);
    }
  }
}

.form__title-wrap {
  @media (min-width: $tablet-width) {
    background: #ffffff;
    z-index: 1;
  }
}

.form__title {
  margin-top: 24px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 12px;
  }
}

.form__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;

  margin-top: 16px;
  margin-left: 2px;
}

.form__input-wrapper {
  margin: 0 0 15px 0;

  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 24px;
  }
}

.form .contacts-button {
  background: var(--contacts-button);
  border: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 58px;
  height: 59px;

  &:hover {
    background: #d5d5d5;
  }

  &:focus {
    border: 2px solid #333333;
    border-radius: 4px;
  }
}

.form .contacts-button__icon--tel svg {
  width: 18px;
  height: 18px;
  margin-left: -6px;
  margin-bottom: 3px;
}

.form .contacts-button__icon--mail svg {
  width: 18px;
  height: 16px;
  margin-left: -6px;
  margin-bottom: 3px;
}

.form .tel-input {
  display: flex;
  align-items: center;
}

.form__radio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 13px;

  & label {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #000000;

    mix-blend-mode: normal;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    position: relative;
    margin: 0 0 3px 0;

    &:focus {
      border: 2px solid #333333;
      border-radius: 4px;
    }

    &::before {
      content: "";
      display: block;
      width: 46px;
      height: 46px;
      background: #f2f2f2;
      border-radius: 50%;
      z-index: 1;
      margin-right: 16px;
    }

    &::after {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      background: #333333;
      border-radius: 16px;
      position: absolute;
      left: 15px;
      z-index: 2;

      opacity: 0;
    }

    &:hover::before {
      background: #e5e5e5;
    }
  }
}


.form__radio-wrapper input {
  display: none;
  position: absolute;

  &:checked + .answer::after {
    opacity: 1;
  }
}

.form__checkbox-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 13px;


  & label {
    font-family: "PT Sans", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    /* identical to box height, or 144% */

    display: flex;
    align-items: center;

    color: #000000;

    mix-blend-mode: normal;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;

    position: relative;
    margin: 0;
    margin-bottom: 3px;

    &::before {
      content: "";
      display: block;
      width: 46px;
      height: 46px;
      background: #f2f2f2;
      border-radius: 4px;
      z-index: 1;
      margin-right: 16px;
    }

    &::after {
      content: url("../img/tick.svg");
      display: flex;
      width: 16px;
      height: 16px;
      position: absolute;
      left: 13px;
      top: 11px;
      z-index: 2;

      opacity: 0;
    }

    &:hover::before {
      background: #e5e5e5;
    }
  }

  &:last-child {
    margin-bottom: 24px;
  }
}


.form__checkbox-wrapper input {
  display: none;
  position: absolute;

  &:checked + .answer::after {
    opacity: 1;
  }
}

.textarea-message {
  margin-bottom: 56px;
}

.form__textarea-wrapper {
  margin-bottom: 40px;

  & textarea {
    margin-bottom: 51px;

    @media (min-width: $tablet-width) {
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 35px;
      width: 91.4%;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;
  }
}

.required-field {
  font-size: 12px;
  line-height: 21px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  text-transform: uppercase;

  color: rgba(51, 51, 51, 0.6);

  mix-blend-mode: normal;

  margin: 2px 3px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    margin: 11px 1px 0 0;
  }
}

.form .button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 91.7%;
    margin: auto;
  }
}

.form__button {
  width: 281px;
  height: 58px;

  padding: 10px 2px 5px 0;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 58px;
    padding: 12px 13px 5px 0;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}
