
.index-page .preview {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin: 47.5px 66px 55px 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 59px auto 44px 217px;
  }
}


.index-page .main-content {
  counter-reset: desc-counter;

  &::before {
    content: "";
    position: relative;
    display: flex;

    clip-path: polygon(50% 100%, 100% 0%, 100% 100%, 0 100%, 0% 0%);
    background: var(--blue-color);
    height: 15px;
    top: 1px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.index-page .block__item:first-child {
  & .title--item {
    padding: 7px;

    @media (min-width: $tablet-width) {
      padding: 9px;
    }
  }

  & .item__desc {
    margin: 9px 0 0 7px;

    @media (min-width: $tablet-width) {
      margin: 14px 0 0 1px;
    }
  }
}

.index-page .block__item {
  & .title--item {
    text-align: left;
    padding: 5px 12px;
  }

  & .item__desc {
    margin: 11px 0 0 12px;

    @media (min-width: $tablet-width) {
      margin: 18px 0 0 0;
    }
  }
}

.index-page .block__item:last-child {
  & .title--item {
    padding: 5px 12px;
  }

  & .item__desc {
    margin: 10px 0 0 12px;

    @media (min-width: $tablet-width) {
      margin: 18px 0 0 0;
    }
  }
}

.index-page .title {
  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 0 10px;
  }


  &--item {
    text-align: left;
    padding: 8px;

    @media (min-width: $tablet-width) {
      padding-bottom: 21px;
    }
  }

  &--white {
    color: var(--white-color);
    margin: 0 1px 0 -5px;

    @media (min-width: $tablet-width) {
      margin: 0 1px 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0 30px;
    }
  }
}
