.search-hotel {
  @include column();
}

.search-hotel__body {
  @include column();

  padding-bottom: 49px;
  padding-top: 38px;

  @media (min-width: $tablet-width) {
    padding: 58px 155px 58px 155px;
    max-width: 460px;
    margin: auto;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 371px 66px;
  }
}

.search-hotel__title {
  @include font-style();
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: 700;
  font-size: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  margin: 1px 0 -5px 1px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search-hotel__p {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  color: #333333;

  display: flex;
  align-items: center;
  text-align: center;

  margin: 25px 0 32px 0;


  @media (min-width: $tablet-width) {
    margin: 38px 0 42px;
  }

  @media (min-width: $desktop-width) {
    margin: 35px 0 50px;
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-height: 58px;
  width: 100%;
  padding: 10px;

  background: var(--button);
  color: var(--white-color);
  border: 0;
  outline: 0;

  @include font-style();
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    background: var(--button-hover);
  }


  &:active,
  &--active {
    background: var(--button-active);
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled,
  &--disabled {
    background: var(--button-disable);
  }
}

.search-hotel__map {
  height: 350px;
  margin-bottom: 27px;
  background: url("../../img/home/map-mobile.webp");

  @media (min-resolution: 2dppx) {
    background: url("../../img/home/map-mobile@2x.webp");
  }

  @media (min-resolution: 3dppx) {
    background: url("../../img/home/map-mobile@3x.webp");
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    background: url("../../img/home/map-tablet.webp");

    @media (min-resolution: 2dppx) {
      background: url("../../img/home/map-tablet@2x.webp");
    }

    @media (min-resolution: 3dppx) {
      background: url("../../img/home/map-tablet@3x.webp");
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    background: url("../../img/home/map-desktop.webp");

    @media (min-resolution: 2dppx) {
      background: url("../../img/home/map-desktop@2x.webp");
    }

    @media (min-resolution: 3dppx) {
      background: url("../../img/home/map-desktop@3x.webp");
    }
  }

  & iframe {
    width: 100%;
  }
}
