.form__block-1 {
  @include form-blocks();

  & .form__input-wrapper:last-child {
    margin-bottom: 39px;
  }

  & .form__title {
    @media (min-width: $tablet-width) {
      margin-bottom: 12px;
      margin-left: 44px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 12px;
      margin-left: 64px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-right: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 50px;
  }
}
